<div class="pnl" style="height: 650px; width: 1000px; position:absolute; left:25%; top: 85px;">
    <%= form_with(model: team, local: true) do |form| %>
      <% if team.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

          <ul>
          <% team.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div  align="center">
      <% flash.each do |key, value| %>
          <div class="isa_warning" style="border-left-style: solid; border-right-style: solid; border-color: #FFBF00;">
            <b style="margin-left: -20px;">→ <%= value %></b>
          </div>
      <% end %>
      </div><br>
      <br>

			<div id="a"> <%= form.text_field :logo, id: :team_logo, class: 'hidden', value: @team.logo.to_s %> </div>

		<div class="main-pnl" align="center">
			<br><br><br>
			<br><br><br>

      <div class="field">
        <h2><b id="w2" style="margin-top: -50px; margin-left: 50px"> Name:</b></h2><br>
        <%= form.text_field :name, id: :team_name, :class => 'form-control', placeholder: "Nome Team", style: 'width: 70%; margin-top: 2%;' %>
      </div><br><br><br><br><br>

		  <br><br>

      <%= form.text_field :captain, class: 'hidden', value: User.find(session[:user_id]).usname %>

  <div class="actions">
		<%= form.submit('Continue',{:class => 'btn btn-register', style: 'width: 20%; margin-left: -150px;'}) %><br>
  </div>
<% end %>
<br>
<p class="mt-5 mb-3 text-muted text-center"><b style="color: white; margin-left: -150px;">© 2017-2018</b></p>
</div>
<div class='aSinistra'>
<div class="foto" name="foto" id="foto">

		</div>
		<div class="pnlsf" align="center">

			<div class="popup" onclick="popup()"><button class="pic-btn"> Scegli Stemma </button>
				<span class="popuptext" id="myPopup">Questi sono gli stemmi!
					<div align="center">
					<table>
					<tr>
						<td>
							<div class="squadra"><img class="stemma" src="https://upload.wikimedia.org/wikipedia/it/0/07/Fc_barcelona.png" onclick="settaStemmaB()"></img></div>
						</td>
						<td>
							<div class="squadra"><img class="stemma" src="https://upload.wikimedia.org/wikipedia/it/thumb/0/0c/Real_Madrid_CF_logo.svg/732px-Real_Madrid_CF_logo.svg.png"  onclick="settaStemmaRM()"></img></div>
						</td>
						<td>
							<div class="squadra"><img class="stemma" src="http://bongdachuyennghiep.com/wp-content/uploads/2017/07/juventus-1.png"  onclick="settaStemmaJ()"></img></div>
						</td>
						<td>
							<div class="squadra"><img class="stemma" src="https://upload.wikimedia.org/wikipedia/it/0/0e/AS_Roma_Logo_2017.svg"  onclick="settaStemmaR()"></img></div>
						</td>
						<td>
							<div class="squadra"><img class="stemma" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/S.S.C._Napoli_logo.svg/1024px-S.S.C._Napoli_logo.svg.png"  onclick="settaStemmaN()"></img></div>
						</td>
					</tr>
					</table>
					</div>
				</span>
			</div>
		</div>
	</div>

</div>
