<!DOCTYPE html>
<html>
  <head>
    <title>WantedMatch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <body style='background-color: #99CBFF;'>
      
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "WantedMatch",  home_path , :class => "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Profile", if session[:user_id]; user_url(session[:user_id]); end , :class => 'btn btn-default', :style => 'color: gray' %> <!-- user_url(session[:user_id]) --></li>
        </ul>
        
        <div class="col-sm-6 col-md-6" style="margin: 0 auto">
            <form class="navbar-form" role="search">
                <%= form_tag action: 'search', controller: 'users' do %>  <!-- PERCHÈ DÀ ERRORE????????? -->
                    <%= text_field_tag :usname, nil, class: 'barra', placeholder: 'Search Your Friends...' %> <%= button_tag(type: "submit", class: "btn btn-default") do %> <i class="glyphicon glyphicon-search"></i> <% end %>
                <% end %>
            </form>
        </div>
        
        <div class="nav navbar-nav navbar-right">
            <div class="dropdown"> <!--TEAM-->
                <li>
                    <%= link_to "Menu", '#', :class => 'btn btn-default dropbtn link', :style => 'color: gray' %>
                    <!--sessions_destroy_path-->
                </li>
                <div class="dropdown-content">
                    <%= link_to "Login", login_url %>
                    <%= link_to "Logout", sessions_destroy_path %>
                    <%= link_to "Help", help_path %>
                </div>
            </div>
      </div>
    </nav>

    <div style= 'margin-top: 50px;'>
      <%= yield %>
    </div>
  </body>
</html>
