<div class="container">
<div class="block" id="block-login">
  <div class="content login" align="center">
    <div class="flash">
      <div  align="center">
      <% flash.each do |key, value| %>
          <div class="isa_warning" style="border-left-style: solid; border-right-style: solid; border-color: #FFBF00;">
            <b style="margin-left: -20px;">→ <%= value %></b>
          </div>
      <% end %>
      </div><br>
      <br>
    </div>
    <div class="container pnl" style="background-image: url(http://www.rompicapi.com/wp-content/uploads/2017/10/pallone-da-calcio.png); background-repeat: no-repeat; background-position: 124% -94%;" align="center">
      <br>
    <br>
    <br>

  <%= form_tag do %>
    <fieldset>
      <div class="text-center mb-4">
        <h1 class="mb-3">Esegui il login</h1><hr>
      </div>
      <div align=center>
      <div class="form-label-group">
        <h3 class="h3 mb-3 font-weight-normal" style='margin-left: -33%'>Username</h3>
        <%= text_field_tag :usname, params[:usname], :class => 'form-ctrl', placeholder: "Username", style: 'width: 40%' %>
      </div>
      <br>
      <div class="form-label-group">
        <h3 class="h3 mb-3 font-weight-normal" style='margin-left: -33%'>Password</h3>
        <%= password_field_tag :password, params[:password], :class => 'form-ctrl', placeholder: "Password", style: 'width: 40%' %>
      </div>

      <br>


      <p>
        <%= submit_tag 'Login', :class => 'btn btn-login', style: 'width: 40%' %><br>
      </p>
    </fieldset>
  <% end %>
  <div align= 'center'>
  <hr>
  <br>
  <br>
  <h3>Non possiedi un account?</h3>
  <br>
  <%= link_to 'Sign Up', new_user_path, class: 'btn btn-register', style: 'color: white; border-width: 1px; border-color: black;' %>
  </div>
  <hr>

  <br>
  <p class="mt-5 mb-3 text-muted text-center"><b style="color: white;">© 2017-2018</b></p>
  <hr>
  </div>

</div>

</div>
