<div class='container' align='center'>
  <% flash.each do |key, value| %>
      <div class="isa_warning" align="center" style="border-left-style: solid; border-right-style: solid; border-color: #FFBF00;">
            <b style="margin-left: -20px;">→ <%= value %></b>
      </div>
  <% end %>
  <br>
  <br>
  <div class="container pnl" style="background-image: url(http://www.rompicapi.com/wp-content/uploads/2017/10/pallone-da-calcio.png); background-repeat: no-repeat; background-position: 124% 300%;">
    <br>
    <br>
<div style="background-color: #ABCDEF; margin-left: -70%; margin-top: 3%; opacity: 0.8; border: solid 5px; border-color: #4682B4; border-radius: 3px; width: 200px; height: 150px; font-size: 20px;"
<p>
  <strong><br>Usname:</strong><br>
  <%= @user.usname %>
</p>
<p>
  <strong>Email:</strong><br>
  <%= @user.email %>
</p>
</div>
<p style="margin-top: -15%;">
  <strong style="font-size: 20px; margin-left: -300px;">Teams:</strong>
  <div class='box' align="left">

    <% Team.all.sort_by{|e| e[:name]}.each do |element| %>

    <h3 style="margin-top: 3px;">
      <% if User.find(session[:user_id])[:usname]==element[:captain] %>
      <td><div style="margin-left: 80px; color: white;"><i><%= element[:name] %></i></div><div align="right"><%= link_to 'Show', Team.find(element.id), class: 'btn btn-default btn-createM', style: ' margin-right: 80px; margin-top: -70px; color: white;'%></div>
    </td>
    <% end %>

    </h3>
    <% end %>
  </div>
</p>
  <% if User.find(session[:user_id])==@user %>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default', style: 'margin-right: -62%; margin-top: -67%; border-color: black; color: white; width: 100px;' %>
  <% end %>
  <br>
  <p class="mt-5 mb-3 text-muted text-center"><b style="color: white;">© 2017-2018</b></p>
  <hr>
</div>
