<div class="mainpnl">
  <div class="sxpnl" align="left">
    <br>
    <div align="center">
    <h2><b> Team: </b></h2><br>
  </div>
    <% $arrt.each do |element| %>

    <h4 style="margin-top: 3px;">
      <td> <%= image_tag(element.logo.to_s, style: 'height: 50px; width: 50px; margin-right: 50px; margin-left: 300px;')%>
          <%= element[:name] %>
          <div align="right"><%= link_to 'Show', Team.find(element.id), class: 'btn btn-default btn-login', style: 'margin-right: 300px; margin-top: -80px; color: white;'%></div>
    </td>
    <% end %>
    <br><br>
    </h4>
  </div>


  <div class="dxpnl">
    <br>
    <div align="center">
    <h2><b> Annunci: </b></h2><br>
  </div>
    <% $arrm.each do |element| %>
      <div class="box" style= "height: 320px; width: 80%; margin-left: 11%; margin-top: 5px;">
        <h4 style= "margin-top: 3px; margin-left: 150px;">
          <table>
        Sarà una partita di <b><%= element[:tipo] %></b><br><br>
        <b><%= element[:location] %></b><br><br>
        In data <b><%= element[:date] %> alle ore
        <%= element[:time].to_formatted_s(:time)  %></b><br><br>
        <%= image_tag(Team.find(element[:team1]).logo.to_s, style: 'height: 50px; width: 50px; margin-right: 10px;')%><%= Team.find(element[:team1]).name %><br>
        <% if element[:team2]==nil %>
        <div style="margin-top: 10px;">
          <b> CERCASI TEAM SFIDANTE </b>
        </div><br>
        <% else %>
        <%= image_tag(Team.find(element[:team2]).logo.to_s, style: 'height: 50px; width: 50px; margin-right: 10px;')%><%= Team.find(element[:team2]).name %><br>
        <% end %>

        <td>
          <div style="margin-left: 450px; margin-top: -160px;">
          <%= form_tag action: 'show_match', controller: 'matches' do %>

          		<%= submit_tag 'Show', class: 'btn btn-default btn-register', style: 'margin-left: 10px; color: white; width: 120px; height: 60px;' %>

              <%= text_field_tag :idmatch, nil, class: 'hidden', value: element.id %>
          <% end %>
          </div>
        </td>
      </table>
      </div>
    <% end %>
    <br><br>
    </h4>
  </div>
</div>
