<div class='container' align='center'>
  <% flash.each do |key, value| %>
      <div class="isa_warning" align="center" style="border-left-style: solid; border-right-style: solid; border-color: #FFBF00;">
            <b style="margin-left: -20px;">→ <%= value %></b>
      </div>
  <% end %>
  <br>
  <br>
  <div class="container pnl" align="center">
    <br>

<p>
  <strong>Usname:</strong>
  <%= @user.usname %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Teams:</strong>
  <div class='box'>

    <% Team.all.sort_by{|e| e[:name]}.each do |element| %>

    <h3 style="margin-top: 3px;">
      <% if User.find(session[:user_id])[:usname]==element[:captain] %>
      <td><%= element[:name] %><%= link_to 'Show', Team.find(element.id), class: 'btn btn-default', style: 'background-color: blue; margin-left: 10px; color: white;'%>
    </td>
    <% end %>

    </h3>
    <% end %>
  </div>
</p>
  <% if User.find(session[:user_id])==@user %>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default', style: 'position: absolute;  right: 30%; top: 20%; border-color: black; color: white;' %>
  <% end %>
  <br>
  <p class="mt-5 mb-3 text-muted text-center"><b style="color: white;">© 2017-2018</b></p>
  <hr>
</div>
