<div class="container" align="center">
<% flash.each do |key, value| %>
    <div class="isa_success" style="border-left-style: solid; border-right-style: solid; border-color: #2E8B57;">
      <b style="margin-left: -20px;">→ <%= value %></b>
    </div>
<% end %>
</div><br>
<div class="container pnl" align="center">
  <br>
  <br>
<br>
<h3 align="center">
<p>
  <strong>Location:</strong>
  <%= @match.location %>
</p>
<br>
<p>
  <strong>Type:</strong>
  <%= @match.tipo %>
</p>
<br>
<p>
  <strong>Time:</strong>
  <%= @match.time.to_formatted_s(:time) %>
</p>
<br>
<p>
  <strong>Date:</strong>
  <%= @match.date %>
</p>
<br>
<p>
  <strong>Team1:</strong>
  <%= image_tag(Team.find(@match.team1).logo.to_s, style: 'height: 50px; width: 50px; margin-right: 10px;')%> <%= Team.find(@match.team1)[:name] %>
</p>
<br>
<p>
  <strong>Team2:</strong>
  <% if @match.team2==nil %>
    <b> Cercasi Team sfidante </b><br><br>
  </h3>

    <% if User.find(session[:user_id])[:usname]==Team.find(@match[:team1]).captain %>
    <% else %>




<div align='center'>


    <div class="popup" onclick="popup()"><button class="pic-btn"> Scegli Team </button>
  <span class="popuptext" id="myPopup"><i>Questi sono i tuoi Teams!</i>
    <table>
      <% Team.all.each do |element| %>

        <h3 style="margin-top: 3px;">
        <% if User.find(session[:user_id])[:usname]==element[:captain] %>
        <div class="scatola" align="left">
          <tr><div style="font-size: 25px; position:absolute; left: 10px;"><%= element[:name] %></div><%= link_to 'Show', Team.find(element.id), class: 'btn btn-default', style: 'background-color: blue;  color: white; position: absolute; right: 103px; margin-top: -10px; border-radius: 50%;'%>
            <%= form_tag action: 'select_team', controller: 'matches' do %>
            		<%= submit_tag 'Choose', class: 'btn btn-default', style: 'position: absolute; right: 3px; margin-top: -10px; background-color: green; color: white; border-radius: 50%;' %>
                <%= text_field_tag :idteam, nil, class: 'hidden', value: element.id %>
                <%= text_field_tag :idmatch, nil, class: 'hidden', value: @match.id %>

            <% end %>

          </tr><br>
        </div>
        <% end %>

        </h3>
      <% end %>
    </table>
    </div>
  </span>
  </div>
  <% end %>



  <h3 align="center">

  <% if User.find(session[:user_id]).usname==Team.find(@match[:team1])[:captain] %>
    <%= form_tag action: 'elimina_match', controller: 'matches' do %>
    		<%= submit_tag 'Elimina', class: 'btn btn-default', style: 'background-color: red; margin-left: 10px; color: white;'%> <%= text_field_tag :idmatch, nil, class: 'hidden', value: @match.id %>  <!-- CERCA UTENTI -->
    <% end %>
  <% end %>

  <% else %>
    <%= image_tag(Team.find(@match.team2).logo.to_s, style: 'height: 50px; width: 50px; margin-right: 10px;')%> <%= Team.find(@match.team2)[:name] %>
  <% end %>
</p>
<br>
</h3>
<br>
<p class="mt-5 mb-3 text-muted text-center"><b style="color: white;">© 2017-2018</b></p>
<hr>
</div>
