<div class="container">
  <div  align="center">
  <% flash.each do |key, value| %>
      <div class="isa_error" style="border-left-style: solid; border-right-style: solid; border-color: #E52B50;">
        <b style="margin-left: -20px;">→ <%= value %></b>
      </div>
  <% end %>
  </div>
  <br>
  <br>
  <div class="popup" onclick="popup()"><button class="pic-btn"> Scegli Team </button>
    <span class="popuptext" id="myPopup"><i>Questi sono i tuoi Teams!</i>

      <table>
        <% Team.all.each do |element| %>
          <h3 style="margin-top: 3px;">
          <% if User.find(session[:user_id])[:usname]==element[:captain] %>
          <div class="scatola" align="left">

            <tr><div style="font-size: 25px; position:absolute; left: 10px;"><%= element[:name] %></div><%= link_to 'Show', Team.find(element.id), class: 'btn btn-default', style: 'background-color: blue;  color: white; position: absolute; right: 103px; margin-top: -10px; border-radius: 50%;'%>

              <%= button_tag 'Choose', onclick: 'choose_team(' + element[:id].to_s + ')', class: 'btn btn-default', style: 'position: absolute; right: 3px; margin-top: -10px; background-color: green; color: white; border-radius: 50%;' %>
            </tr><br>
          </div>
          <% end %>

          </h3>
        <% end %>
      </table>

    </span>
  </div>
  <label id="mess"> </label><br>
</div>

<div align="center">
<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :team1, id: :match_team1, class: 'hidden'%>
    <div class="field" align="left" style="width: 150px;">
      <p>
        <b style="margin-left: -100px; font-size: 16px;">
          Tipo di partita:
        </b>
      </p>

        <%= form.radio_button :tipo, 'calcio a 5' %><i style="font-size: 18px; margin-left: 15px;">Calcio a 5</i><br><br>
        <%= form.radio_button :tipo, 'calcio a 7' %><i style="font-size: 18px; margin-left: 15px;">Calcio a 7</i><br><br>
        <%= form.radio_button :tipo, 'calcio a 8' %><i style="font-size: 18px; margin-left: 15px;">Calcio a 8</i><br><br>
        <%= form.radio_button :tipo, 'calcio a 11' %><i style="font-size: 18px; margin-left: 15px;">Calcio a 11</i><br><br>
      </div><br><hr>

  <div class="field">
    <p>
      <b style="margin-left: -200px; font-size: 16px;">
        Dove si terrà la partita?
      </b>
    </p>
    <%= form.text_field :location, id: :match_location, class: 'form-ctrl', placeholder: 'Location' %>
  </div><br><hr>

  <div class="field" align="center">
    <p>
      <b style="margin-left: -200px; font-size: 16px;">
        Ora:
      </b>
    </p>    <input id="match_time" name='match[time]' type="time" class="form-control" style="width: 12%;"/>
  </div><br><hr>

  <div class="field">
    <p>
      <b style="margin-left: -200px; font-size: 16px;">
        Data:
      </b>
    </p>    <input id="match_date" name='match[date]' type="date" class="form-control" style="width: 13%;"/>
  </div><br><hr>




  <div class="actions">
    <%= form.submit "Posta Annuncio", :class => 'btn btn-login', style: 'width: 40%' %>
  </div>
<% end %>
</div>
