<!DOCTYPE html>
<html>
  <head>
    <title>WantedMatch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="position: absolute; top: 0px; left: 0px; width: 100%">
      <%= link_to "WantedMatch",  home_path , :class => "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Profile", if session[:user_id]; user_url(session[:user_id]); end , :class => 'btn btn-default', :style => 'color: gray' %> <!-- user_url(session[:user_id]) -->
          </li>
        </ul>
      </div>


      <!-- barra di ricerca -->
      <div class="search-bar">

        <%= form_tag action: 'searchtm', controller: 'users' do %>
          <%= text_field_tag :campo, nil, class: 'barra', placeholder: 'Search Teams and Matches...' %>
          <%= submit_tag "", class: 'search-button' %>
        <% end %>

      </div>

      <div class="collapse navbar-collapse" id="navbarCollapse" style="position: absolute; right: 12px; bottom: 2px;">
        <div class="dropdown" style="margin-right: 15px;"> <!--TEAM-->
  		  	 <li>
            <%= link_to "=", '#', :class => 'btn btn-default dropbtn link', :style => 'color: gray' %>
          </li>
  			    <div class="dropdown-content">
              <%= link_to "Login", login_url %>
              <%= link_to "Logout", sessions_destroy_path %>
              <%= link_to "Create Team", new_team_path %>
              <%= link_to "Create Match", new_match_path %>
              <%= link_to "Help", help_path %>
            </div>
			   </div>
      </div>

    </nav>
    <div style= 'margin-top: 50px;'>
      <br>
      <br>

        <%= yield %>

    </div>
  </body>
</html>
